{% extends 'layout.html.twig' %}
{% block title %}{{page_title}}{% endblock %}
{% block content %}
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        <p>{{ text }}</p>

        <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
    </div>
{% endblock %}

